.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.items-display{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  margin-bottom:10px;
  justify-content: center;
  align-items: center;
}
hr{
  border:3px solid gray;
  width:100%;
}
.choose-option{
  float:right;
  margin-bottom:15px;
}
.choose-option select{
  margin-left:5px;
  border:2px solid black
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
@media (min-width: 1200px){

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
}
.clearfix {
  clear: both;
}

@media  screen and  (max-width: 767px){
  img{
    width:300px;
  }
}